<!--# views/dashboards/index.html.erb-->
<div id="your_reminders">
  <%= render partial: "dashboards/your_reminders", locals: { reminded_you: @reminded_you, will_remind_you: @will_remind_you } %>
</div>